body {
  font-size: 16px;
  color: black;
}

.navbar-brand {
    font-weight: bold;
}

#nav-list {
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
}

#nav-list > li {
    border: 1px solid #F5F5F5;
}

section.col-xs-12 {
    background-color: grey;
    padding: 0 50px 50px;
    text-align: justify;
}

h1 {
    margin-bottom: 20px;
}
